[Desktop Entry]
Type=Application
Name=LibreHub
Comment=Per-game mouse button remapper
Icon=librehub
Exec=librehub
Terminal=false
Categories=Utility;Settings;
